<% if flash[:message] %>
  <p><%= flash[:message] %></p>
<% end %>
<%= form_for :user, url: login_path do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %> <br>
  <%= f.label :password %>:
  <%= f.password_field :password %> <br><br>
  <%= f.submit "Login" %>
<% end %>
